*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Plain Light';
}
#crsr{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: 1px solid #ffffffbe;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3vw;
    /* background-color: red; */
    /* margin-bottom: 10px; */
}
#line1-p1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-p1 h5, #line1-p1 h6{
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
}
#line1-p1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    opacity: 0;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
}
#main{
    position: relative;
    background-color: #0B0B0B;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page1 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}
#page1 nav #nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3vw;
}
#nav-right h4{
    font-weight: 500;
}
.hero{
    /* background-color: red; */
    height: fit-content;
    width: 72%;
    margin-left: 28%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.hero:nth-child(1){
    margin-top: 15vh;

}
.hero h1, .hero h2, .hero h3{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}
.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
}
@keyframes anime {
    0%{
        font-family: "plain light";
        color: #fff;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 0;
    }
}
